rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Reports: cualquier usuario autenticado puede leer y escribir
    match /reports/{reportId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    // Users: cualquier usuario autenticado puede leer y escribir su propio perfil
    // Los admins pueden gestionar cualquier perfil
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
